#deck-title{
 text-align:center;
 font-size:38px;
 font-family:Georgia, serif;
 margin-top:50px;
}

#card-area{
 width:500px;
 height:300px;
 background-color: AliceBlue;
 margin: auto;
 margin-top: 2rem;
 border:3px solid Black;
}

.card{
 width:493px;
 height:293px;
 text-align:center;
 line-height: 293px;
 font-size: 1rem;
 color:Black;
 background-color: #dae2f2;
 cursor: pointer;
}
.card:hover{
 opacity:.1;
}

.star{
 font-size: 2rem;
 border: none;
 background: none;
}

#nav-buttons{
  text-align: center;
}

#next-button{
 color:Black;
 border: none;
 background: none;
}
#next-button:hover{
 opacity:.5;
}

#previous-button{
 color:Black;
 border: none;
 background: none;
}
#previous-button:hover{
 opacity:.5;
}

#index-display{
 color:Black;
 border: none;
 background: none;
 font-size: 1.5rem;
}
